* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  padding: 1em 5em;
  max-width: 1200px;
  margin: 0 auto;
}

path {
  stroke: white;
  stroke-width: 5px;
  transition: all .5s;
}

.group--selected path{
  opacity: 0.2 !important;
}

.group--selected .selected {
  opacity: 1 !important;
}

#chart {
  width: 100%;
  max-width: 500px;
  /* margin: 0 auto; */
  float:left;
  /* cursor: pointer; */
}

.legend {
  font-size: 1em;
  float: left;
}

.legend ol {
  font-size: 3em;
  font-weight: bold;
  counter-reset: item;
  list-style-type: none;
  color: #14537C;
}

.legend li {
  margin-bottom: .5em;
  display: inline-block;
  transition: all .5s;
}

.legend li:before {
  content: counter(item) " ";
  counter-increment: item;
}

.list-item {
  font-size: .8rem;
  font-weight: normal;
  vertical-align: middle;
  display: inline-block;
}

.list-item h4, .list-item p {
  margin: 0;
  font-weight: normal;
}

.list-item h4 {
  color: #40A2C7;
}

.tooltip {
  transition: all .5s;
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  margin-top: 2em;
  background:grey;
  float:left;
  width: 40%;
  float: right;
}

path {
  cursor: pointer;
}



form {
  visibility: hidden;
}
