@-webkit-keyframes rotateIn {
  from {
    -webkit-transform: rotate(-300deg);
    -ms-transform: rotate(-300deg);
    transform: rotate(-300deg);
    opacity: 0;

  }
  to {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(o);
    transform: rotate(0);
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  color: #83c50b;
  font-size: 2em;
  /* font-family: 'desyrelregular'; */
}

p{
  max-width: 40em;
}
.container {
  padding: 1em 2em;
  max-width: 1200px;
  margin: 0 auto;

}

path {
  stroke: white;
  stroke-width: 2px;
  transition: all .5s;
}

.group--selected path{
  opacity: 0.2 !important;
}

.group--selected .selected {
  opacity: 1 !important;
}


#chart {
  -webkit-animation: rotateIn 1s forwards;
  animation: rotateIn 1s forwards;
  float:left;
  width: 50%;
  padding: 1em;
}

button {
  border: none;
  border-radius: 5px;
  padding: .6em 2em;
  border: 1px solid #1CA0DA;
  background: none;
  color: #1CA0DA;
  margin: .5em;
}

.button--hl {
  background-color: #1CA0DA;
  color: white;
}

#chart button {
  display: none;
  margin: 0 auto;
  margin-top: 1em;
}

.legend {
  font-size: 1em;
  float: left;
}

.legend ol {
  font-size: 3em;
  font-weight: bold;
  counter-reset: item;
  list-style-type: none;
  color: #14537C;
  padding-left: 0;
}

.legend li {
  margin-bottom: .5em;
  transition: all .5s;
}

.legend li:before {
  content: counter(item) " ";
  counter-increment: item;
}

.list-item {
  font-size: .8rem;
  font-weight: normal;
  vertical-align: middle;
  display: inline-block;
}

.list-item h4, .list-item p {
  margin: 0;
  font-weight: normal;
}

.list-item h4 {
  color: #40A2C7;
}


.tooltip {
  /* transition: all .5s; */
  border-radius: 5px;
  font-size: 0.8em;
  color: white;
  padding: 10px 30px;
  margin-top: 2em;
  background:#1AA1DF;
  width: 25%;
  float: right;
}

.legend {
  width: 25%;
}

path {
  cursor: pointer;
}



.form-overlay__inputs {
  visibility: hidden;
}

.form-overlay__modal {
  border-radius: 5px;
  padding: 2em 3em;
  background: white;
  max-width: 35em;
  margin: 10em auto;
}

.form-overlay__modal button {
  float: right;
}


dd {
  margin-left: 0;
  clear:right;
}

dt {
  color: #19547A;
  clear:left;
  margin-right: .5em;
}

dt, dd {
  float:left;
}

.form-overlay {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .8);
  visibility: hidden;
  opacity: 0;
  /* cursor: pointer; */
  transition: .3s all;
}

.form-overlay.visible {
  visibility:visible;
  opacity: 1;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
