* {
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

h1 {
  color: #83c50b;
  font-size: 2em;
}

p {
  max-width: 55em;
}

path {
  cursor: pointer;
  stroke: white;
  stroke-width: 2px;
  transition: all .5s;
}

ul {
  padding-left: 1em;
}
