@mixin breakpoint($breakpoint) {
    @media only screen and (max-width: $breakpoint) { @content; }
}

@keyframes rotateIn {
  from {
    transform: rotate(-300deg);
    opacity: 0;

  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
