.chart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;

  // padding: 2em 0;
  // border-top: 1px solid lighten(#14537C, 60%);
  // border-bottom: 1px solid lighten(#14537C, 60%);
}
