#chart {
  //Messy in IE
  // animation: rotateIn 1s forwards;
  float:left;
  width: 50%;
  padding: 1em;

	@include breakpoint(900px){
		width: 100%;
	}

  button {
    display: none;
    margin: 0 auto;
    margin-top: 1em;
  }

}

.group--selected {
  path {
    opacity: 0.2 !important;
  }

  .selected {
    opacity: 1 !important;
  }
}

.group--disabled {
  opacity: .1;
  pointer-events: none;
}
