.legend {
  font-size: 1em;
  display: block;
  width: 100%;
  float: left;
  padding: 1em 0;
  margin-top: 1em;
  border-top: 1px solid lighten(#14537C, 60%);
  border-bottom: 1px solid lighten(#14537C, 60%);

  @include breakpoint(900px){
    margin-top: 2em;
    padding-top: 2em;
  }

  ol {
    font-size: 3em;
    font-weight: bold;
    counter-reset: item;
    list-style-type: none;
    color: #14537C;
    padding-left: 0;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    margin-bottom: .5em;
    transition: all .5s;
    margin-bottom: 0;

    @include breakpoint(900px){
      text-align:center;
      width: 100%;
      margin-bottom: 1em;
    }

    &:before {
      content: counter(item) " ";
      counter-increment: item;

      @include breakpoint(900px){
        display: block;
        clear: both;
      }
    }
  }
}

.list-item {
  font-size: .8rem;
  font-weight: normal;
  vertical-align: middle;
  display: inline-block;

  h4, p {
    margin: 0;
    font-weight: normal;
  }

  h4 {
    color: #40A2C7;
  }

}
