.form-overlay__inputs {
  visibility: hidden;
}

.form-overlay__modal {
  border-radius: 5px;
  padding: 2em 3em;
  background: white;
  max-width: 35em;
  margin: 0 auto;
  margin-top: -7em;

  button {
    float: right;
  }
}

dd {
  margin-left: 0;
  clear:right;
}

dt {
  color: #19547A;
  clear:left;
  margin-right: .5em;
}

dt, dd {
  float:left;
}

.form-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .8);
  visibility: hidden;
  opacity: 0;
  transition: .3s all;
}

.form-overlay.visible {
  visibility:visible;
  opacity: 1;
}
